
h1 {
    color: white;
    text-align: center;
}

h2 {
    color: gold;
    text-align: center;
}

a {
    background-color: rgb(255, 205, 40);;
    color: white;
    text-decoration: none;
    padding: 20px;
    border: 0px solid  rgb(255, 174, 35);
    border-radius: 10px;
    transition-duration: .3s;
    margin: 5px;
}

a:hover {
    background-color: rgb(255, 233, 132);
    border: 0px outset rgb(255, 174, 35);
}

body {
    background-image: linear-gradient( #0000ff85, skyblue);
}

p {
    color: white;
}

.overlay {
    text-align: center;
    width: 40%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

video {
    width: 60%;
    height: auto;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}